* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-size: 100%;
}

h1 {
  font-weight: bold;
}

img {
  width: 250px;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer {
  text-align: center;
  font-size:  x-large;
  padding: 10px;
  color: white;
  width: 100%;
  height: 45px;
  bottom: 0px;
  position: absolute;
  background-color: #00a8c7;
}

form {
  text-align: center;
}

label {
  font-size: 30px;
  color: azure;
}

input {
  width: 50%;
  height: 30px;
}

#Message {
  height: 90px;
}

#SubmitButton {
  height: 50px;
  font-size:xx-large;
  background-color: rgb(17, 165, 17);
}

#Page1Body{
  background-image: url(./img/background.jpeg);
}

#Page2Body {
  background-color: white;
  background-image: none;
}

#Page3Body {
  background-color: black;
  color: white;
}

#Page5Body {
  background-color: black;
  color: white;
}

ul {
  list-style: none;
  overflow: hidden;
}

li {
  float: left;
}

li a { 
  color: white ;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.Dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 20vw;
  z-index: 1;
  box-shadow: 0rem  0.5rem 1rem 0rem;
}

.DropButton:hover {
  color: rgb(0,168,199);
  background-color: #ffffff;
}

.Dropdown-content a {
  color: rgb(0,168,199);
  display: block;
  text-align: left;
}

.Test:hover {
  background-color: #E9E9E9;
}

.Dropdown:hover .Dropdown-content {display: block;}